* {
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
}

.flex-column {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
}

.demo-height {
  height: 300px;
}

.start {
  width: 100%;
  background-color: #588C7E;
  justify-content: center;

  
}

.start-image {

  fill: #F2E394;
  /* opacity: 0.8; */
  background-color: transparent;
  height: 30%;
  display: flex;
  flex-direction: column;
  margin-top: auto;

}

.recent-projects-divider {
  background-color: #F2E394;
  height: 100px;

}

.divider-prev-svg {
  display: flex;
  flex-direction: column;
  width: 10%;
  fill: #588C7E;
  transform: rotate(180deg);
  height: 75%
}

.proyectos-recientes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 88%;
 
}

.proyectos-recientes p {
  font-size: 250%;
  background: linear-gradient(to right,  #588C7E 35%, #F2AE72  100%);
  -webkit-background-clip: text;
  background-clip: text;
	-webkit-text-fill-color: transparent;
  
}



.divider-post-svg {
 
  display: flex;
  flex-direction: column;
  width: 10%;
  fill: #F2AE72;
  height: 75%;
  margin-top: auto;

}

.recent-project-prev-svg {
  display: flex;
  flex-direction: column;

  transform: rotate(180deg);
  height: 30%;
  width: 6%;
  min-width: 75px;
  margin-left: 0.5%;

}


.github-icon {
  font-size: 300% !important;
  margin-right: 10%; 


}

.recent-project-prev-svg:hover, .recent-project-post-svg:hover, .start-image:hover, .divider-prev-svg:hover, .divider-post-svg:hover  {
  filter: saturate(50);
}

.recent-project-post-svg {

  display: flex;
  flex-direction: column;

  min-width: 75px;
  height: 30%;
  margin-top: auto;
  min-width: 75px;
  width: 6%;
  margin-right: 0.5%;

}

.github-icon-a {
  width: 6%;
}

@media only screen and (max-width: 900px) {
  .recent-project-prev-svg, .recent-project-post-svg {
    height: 20%;
  }

}

.Yellow {fill: #F2E394; color: #F2E394  }
.Red {fill: #D96459 ; color: #D96459}
.Orange { fill: #F2AE72  ; color: #F2AE72}
.Blue {fill: #2C457E ; color: #2C457E }

.reverse {  transform: rotate(0deg); }
.mirror {  transform: scaleX(-1)}
.mirror-reverse {  transform: scaleX(-1)  rotate(180deg) }
.left { padding-right: auto}


.project-1 {
  background-color: #F2AE72;
}

.project-2 {
  background-color: #D96459;
}

.project-3 {
  /* background-color: #8C4646  UTIL PARA UN CUARTO PROYECTO*/
  background-color: #2C457E
}


.footer {
  background-color: black;
  height: 150px;
}

.soil {
  height: 20px;
  background-color: #8C4646;
}




/* Proyecto display starts*/

.proyecto{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

}

.project-image-container {
  position: relative;
  width: 40%;
  min-width: 300px;
  min-height: 200px;

  margin: 15px 0px 30px 0;
 
}

.project-pic {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  min-width: 300px;
  min-height: 200px;
}

.overlay {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.project-image-container:hover .overlay {
  opacity: 1;
  -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.project-image-container .overlay {
  -webkit-animation: scale-out-ver-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: scale-out-ver-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


.scale-in-ver-top{
	-webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.proyecto-button {
  width: auto;
  border-radius: 10px;
  padding: 5px 15px;
  margin-bottom: 15px;
  font-size: 1em;

}



.button-orange {
  color: white;
  background-color: #F2AE72;
  border: 2px solid #F2AE72;
}

.button-orange:hover {
  filter: contrast(1.5)
}

.button-orangered {
  color: white;
  background-color: #D96459;
  border: 2px solid #D96459
}

.button-orangered:hover {
  filter: contrast(2)
}

.button-blue {
  color: white;
  background-color: #2C457E;
  border: 2px solid #2C457E;
}

.button-blue:hover {
  filter: contrast(2)
}


.experience-div {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  width: 50%;
}

.experience-div, .experience-div h2, .experience-div h4 {
  margin-bottom: 10px;
}

.experience-text {
  color: white;
}

@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}

@-webkit-keyframes scale-out-ver-top {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}


.scale-out-ver-top {
	-webkit-animation: scale-out-ver-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-ver-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes scale-out-ver-top {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}


/* Proyecto display starts*/




@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
  from {background-position: 0;}
  to {background-position:10000px 0;}
}




.stars, .twinkling  {
position:absolute;
width:100%;
height: 150px;
display:block;
}

.stars {
background:#000 url('./Sections/Footer/stars.png') repeat  ;
z-index:0;
}

.twinkling{
background:transparent url('./Sections//Footer/twinkling.png') repeat  ;
z-index:1;

-moz-animation:move-twink-back 200s linear infinite;
-ms-animation:move-twink-back 200s linear infinite;
-o-animation:move-twink-back 200s linear infinite;
-webkit-animation:move-twink-back 200s linear infinite;
animation:move-twink-back 200s linear infinite;
}

.icons-div {
  display: flex;
  flex-direction: row wrap;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.footer-icon {
  color: white;
  z-index: 2;
  
}

.footer-icon:hover {
  color: red;
	-webkit-animation:vibrate-1 .3s linear infinite both;animation:vibrate-1 .3s linear infinite both
}

@-webkit-keyframes vibrate-1{0%{-webkit-transform:translate(0);transform:translate(0)}20%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}40%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}60%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}80%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}@keyframes vibrate-1{0%{-webkit-transform:translate(0);transform:translate(0)}20%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}40%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}60%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}80%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}

.footer-icon svg{
  font-size: 3em;
}